<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (user) { %>
          <form action="/logout" method="POST">
            <p>Welcome,<%= user.email %><input type="submit" value="sign out"></p>
          </form>
          <% } else {%>
            <form action="/login" method="POST">
              <div class="form-horizontal">
                <input type="text" class="form-control" placeholder="username" aria-describedby="button-addon2"
                  name="username">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Login</button>
                </div>

              </div>
            </form>
            <% } %>

      </div>
    </div>
  </nav>
</header>